{% extends 'base.html.twig' %}

{% block body %}

    {% set flash_messages = app.session.flashbag.all %}

    {% if flash_messages|length > 0 %}
        <div id="flash-messages">
            {% for label, messages in flash_messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        &times;
                        {{ message|trans|raw }}
                        <button type="button" class="close" onclick="this.closest('div').style.display='none'">
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <h1 class="text-center">Nous contacter</h1>

            {{ form_start(form) }}
            {{ form_row(form.name, { 'label': 'Nom'}) }}
            {{ form_row(form.email, { 'label': 'Email'}) }}
            {{ form_row(form.message, { 'label': 'Message'}) }}

            <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
