{% extends 'base.html.twig' %}
{% block title %}{{ game.name }}{% endblock %}

{% block body %}

    {% set flash_messages = app.session.flashbag.all %}

    {% if flash_messages|length > 0 %}
        <div id="flash-messages">
            {% for label, messages in flash_messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        &times;
                        {{ message|trans|raw }}
                        <button type="button" class="close" onclick="this.closest('div').style.display='none'">
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">

        <div class="card">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ game.picture }}" alt="{{ game.name }}" class="img-fluid">
                    {% if app.user %}
                        <a href="#"
                           class="container-fluid btn btn-success">Téléchargement</a>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ game.name }}</h5>
                        <p class="card-text">{{ game.resume }}</p>
                        <p class="card-text">Materiel requis : {{ game.materialRequired }}</p>
                        <p class="card-text"><small>Nombre de téléchargement : {{ game.download }}</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <h2 class="text-center">Commentaires :</h2>
                {% for comment in game.comments %}
                    <div>
                        <h4 class="text-left">{{ comment.title }}</h4>
                        <p class="text-left">{{ comment.content }}</p>
                        {% if not comment.modificationDate %}
                            <p class="text-right">écrit le :{{ comment.creationDate | date('d-m-Y') }}
                                par {{ comment.user.username }}</p>
                        {% endif %}
                        {% if comment.modificationDate %}
                            <p class="text-right">modifié le :{{ comment.modificationDate | date('d-m-Y') }}
                                par {{ comment.user.username }}</p>
                        {% endif %}

                        <div class="d-flex justify-content-end">
                            <div>
                                {% if is_granted(constant('App\\Security\\Voter\\CommentVoter::COMMENT_EDIT'), comment) %}
                                    <a href="{{ path('update_comment', {game: game.id, comment : comment.id}) }}"
                                       class="btn btn-warning"><i class="fas fa-pen-alt"></i>Modifier</a>
                                {% endif %}

                                {% if is_granted(constant('App\\Security\\Voter\\CommentVoter::COMMENT_DELETE'), comment) %}
                                    <a href="{{ path('delete_comment', {game: game.id, comment : comment.id}) }}"
                                       class="btn btn-danger"><i class="fas fa-pen-alt"></i>Supprimer</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>

        {% if app.user %}
            {{ form_start(form) }}
            <div class="d-flex justify-content-center">
                <div class="col-8">
                    <h3 class="text-center">Commentaire</h3>
                    <p id="output">{{ form_row(form.title, { 'label': 'Titre'}) }}</p>
                    {{ form_row(form.content, { 'label': 'Text'}) }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Publier</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}