{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div>
            <h1 class="text-center">AllGames</h1>
            <p class="text-justify">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                piece of classical Latin
                literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
                Lorem
                Ipsum passage, and going through the cites of the word in classical literature, discovered the
                undoubtable
                source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
                Extremes
                of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
                popular
                during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line
                in
                section 1.10.32.

                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections
                1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
                original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
        </div>


        <h2 class="text-center"><a href="{{ path('last_added') }}">Dernier Ajout</a></h2>
        <div class="row mx-auto my-auto">
            <div id="CarouselLastAdded" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox">
                    {% for game in lastGames %}
                        {% include '/games/card/_carousel_card.html.twig' %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev w-auto" href="#CarouselLastAdded" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                          aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next w-auto" href="#CarouselLastAdded" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                          aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


        <a href="{{ path('most_popular') }}"><h2 class="text-center">Les Plus Populaire</h2></a>
        <div class="row mx-auto my-auto">
            <div id="CarouselMostPopular" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox">
                    {% for game in mostPopulars %}
                        {% include '/games/card/_carousel_card.html.twig' %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev w-auto" href="#CarouselMostPopular" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                          aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next w-auto" href="#CarouselMostPopular" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                          aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# Carousel bootstrap 5 sans css et js autre que bootstrap #}
{# <div class="container-fluid"> #}
{# <h2 class="text-center"><a href="{{ path('last_added') }}">Dernier jeux ajouté</a></h2> #}

{# <div id="carouselCaptionsLastAdded" class="carousel slide w-100" data-bs-ride="carousel"> #}

{# <div class="carousel-inner" role="listbox"> #}
{# <div class="carousel-item active"> #}
{# {% for game in lastGames %} #}
{# {% if loop.index < 5 %} #}
{# <div class="col-md-3" style="float:left"> #}
{# <div class="card mb-2"> #}
{# <a href="{{ path('game', {game: game.id}) }}"> #}
{# <img src="{{ game.picture }}" class="d-block w-100" alt="{{ game.name }}"> #}
{# <div class="card-body"> #}
{# <h5 class="card-title text-center">{{ game.name }}</h5> #}
{# <p class="card-text text-truncate">{{ game.resume }}</p> #}
{# <p class="card-footer">{{ game.download }}</p> #}
{# </div> #}
{# </a> #}
{# </div> #}
{# </div> #}
{# {% endif %} #}
{# {% endfor %} #}
{# </div> #}

{# <div class="carousel-item"> #}
{# {% for game in lastGames %} #}
{# {% if loop.index > 4 %} #}
{# <div class="col-md-3" style="float:left"> #}
{# <div class="card mb-2"> #}
{# <a href="{{ path('game', {game: game.id}) }}"> #}
{# <img src="{{ game.picture }}" class="d-block w-100" alt="{{ game.name }}"> #}
{# <div class="card-body"> #}
{# <h5 class="card-title text-center">{{ game.name }}</h5> #}
{# <p class="card-text text-truncate">{{ game.resume }}</p> #}
{# <p class="card-footer">{{ game.download }}</p> #}
{# </div> #}
{# </a> #}
{# </div> #}
{# </div> #}
{# {% endif %} #}
{# {% endfor %} #}
{# </div> #}

{# </div> #}
{# <a class="carousel-control-prev" href="#carouselCaptionsLastAdded" role="button" data-bs-slide="prev"> #}
{# <span class="carousel-control-prev-icon" aria-hidden="true"></span> #}
{# <span class="visually-hidden">Previous</span> #}
{# </a> #}
{# <a class="carousel-control-next" href="#carouselCaptionsLastAdded" role="button" data-bs-slide="next"> #}
{# <span class="carousel-control-next-icon" aria-hidden="true"></span> #}
{# <span class="visually-hidden">Next</span> #}
{# </a> #}
{# </div> #}
{# </div>          #}