{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1 class="text-center">AllGames</h1>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
            Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
            source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular
            during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
            section 1.10.32.

            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
            1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
            original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
    </div>

    <h2 class="text-center"><a href="{{ path('last_added') }}">Last games added</a></h2>

    <div class="card-group">
        {% for game in lastGames %}

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <a href="{{ path('game', {game: game.id}) }}" class="btn btn-fix text-left">>
                        <img src="{{ game.photo }}" class="card-img-top" alt="{{ game.name }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ game.name }}</h4>
                            <p class="card-text">{{ game.resume }}</p>
                            <p class="card-footer">
                                <small class="text-muted">Nombre de téléchargement : {{ game.download }}</small>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        {% else %}
            <p>Aucun Jeux à afficher</p>

        {% endfor %}
    </div>

    <h2 class="text-center"><a href="{{ path('most_popular') }}">Most popular games</a></h2>

    <div class="card-group">
        {% for game in MostPopulars %}

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <a href="{{ path('game', {game: game.id}) }}" class="btn btn-fix text-left">>
                        <img src="{{ game.photo }}" class="card-img-top" alt="{{ game.name }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ game.name }}</h4>
                            <p class="card-text">{{ game.resume }}</p>
                            <p class="card-footer"><small class="text-muted">
                                    Nombre de téléchargement : {{ game.download }}</small>
                            </p>
                        </div>
                    </a>
                </div>
            </div>

        {% else %}
            <p>Aucun Jeu à afficher</p>

        {% endfor %}
    </div>

{% endblock %}